/* === COLORS === */
$primary_cyan: hsl(179, 62%, 43%);
$primary_cyan_light: hsla(179, 62%, 43%, 0.627);
$primary_bright_yellow: hsl(71, 73%, 54%);

$neutral_light_gray: hsl(204, 43%, 93%);
$neutral_grayish_blue: hsl(218, 22%, 67%);
$neutral_white: hsla(0, 0%, 100%, 0.835);
